.first-paragraph{
    line-height: 30px;
}
.lottie-container {
    max-width: 100%;
  }

  @media (max-width: 500px) {
    .lottie-container {
      max-width: 300px; /* Adjust the max-width value for smaller screens */
    }
  }

  .fourth-section p {
    line-height: 25px;
    font-weight: bolder;
  }

  .fourth-section li {
    list-style-type: none;
    line-height: 30px;
  }
  .fourth-section ul {
    padding: 0 0 0 0;
  }
  .testmonials {
    padding: 40px;
    text-align: center;
  }
  .inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .ff-row {
    flex-wrap: wrap;
  }
  
  .coll {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  
  .testmonial {
    background: #ffff;
    padding: 30px;
  }
  .testmonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .test-name {
    font-size: 20px;
    margin: 20px 0;
  }
  .stars {
    color: #fd4430;
    margin-bottom: 20px;
  }
  .testmonial-hight {
    line-height: 50px;
  }